body {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #EDEDED; 
    margin: 0;
    padding: 0;
}

h1 {
    color: #B19CD9; 
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #B19CD9; 
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 2px solid #B19CD9;
    background-color: #1E1E1E;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #2C2C2C;
    border-radius: 8px;
    padding: 40px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

input[type="text"],
input[type="checkbox"],
button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    background-color: #1E1E1E;
    color: #EDEDED;
}

input[type="checkbox"] {
    display: inline-flex;
    width: auto;
    margin-bottom: 10px;
}

button {
    background-color: #B19CD9;
    color: #121212;
    cursor: pointer;
}

button:hover {
    background-color: #9C7DAC;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

li {
    background-color: #2C2C2C;
    color: #EDEDED;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-size: 16px;
}

button.edit,
button.delete {
    background-color: #B19CD9;
    color: #121212;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

button.edit:hover,
button.delete:hover {
    background-color: #9C7DAC;
}

button.delete {
    background-color: #E57373;
}

button.delete:hover {
    background-color: #D32F2F;
}

@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    form {
        margin: 10px auto;
        padding: 20px;
    }

    input[type="text"],
    button {
        width: calc(100% - 20px);
    }

    ul {
        width: 95%;
    }
}
